@font-face {
  font-family: "Ubuntu Condensed";
  src: url("../font/UbuntuCondensed-Regular.ttf");
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 168%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #888;
}

a:visited {
  color: #555;
}

html, body, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  letter-spacing: 0.16em;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.wrap {
  padding: 1em;
}

h1, h3, h5 {
  font-weight: normal;
}

h1 {
  margin: 0;
}

h3 {
  font-size: 80%;
}

h5 {
  margin: 0;
  padding-bottom: 2em;
  color: #434343;
}

p {
  font-family: sans-serif;
  font-size: 50%;
  letter-spacing: 0;
}

pre {
  padding: 0.8em;
  background-color: #333;
  color: #ccff00;
  border-radius: 3px;
  overflow: auto;
}

code {
  font-size: 80%;
  font-family: "Ubuntu Condensed", sans-serif;
}

code b {
  color: #ff0000;
}

code kbd {
  color: #666;
}
