@font-face {
  font-family: "Slabo27px";
  src: url("../font/Slabo27px-Regular.ttf");
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Slabo27px", sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #888;
}

a:visited {
  color: #555;
}

html, body, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  letter-spacing: 0.16em;
  line-height: 1.8em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap {
  padding: 1em;
}

h1, h3 {
  font-weight: normal;
}

h1 {
  margin: 0;
}

h3 {
  font-size: 80%;
}

h5 {
  margin: 0;
  padding-bottom: 2em;
  color: #434343;
}

p {
  width: 100%;
  max-width: 640px;
}

.i {
  color: #e198b4;
}

.r {
  color: #aacf53;
}

.o {
  color: #a2d7dd;
}

.h {
  color: #f8b862;
}

.a {
  color: #dbd0e6;
}

.c, .o2, .d, .g {
  color: #888888;
}

.i2, .n {
  color: #555555;
}
